scoring/**/Full-Occur*
scoring/**/Ensemble*
scoring/**/Readme.txt
scoring/**/*.LOG
scoring/**/*.kwslist.xml
scoring/*

output/score-normalisation
output/system-combination

*temp*
*pycache*

.venv
.vscode/launch.json
